

.open-sans-stylishfont {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Nav styles */
.main{
    background-color: #f5f5f5;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 200px

}

.nav-title{
    font-weight: 800;
    font-size: 22px;
}

nav ul li {
    list-style: none;

}

.btn-primary{
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    border-color: #c6e4d6;
    color:#006a50;
    padding: 12px 26px;
    border-radius: 5px;
    
}
/* header */
.text-positoin{
    margin: 10px 200px
}
.headerthree{
    color:#6a7972;
}

/* banner styles */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 200px
}
.banner{
    background-color:#c6e4d6 ;
    border-radius: 50px;
    padding: 50px 100px 50px 50px;
}
.banner-content{
    width: 580px

}
.banner-description{
    font-size: 45px;
    font-weight: 800;
}
/* Explore new Bangladesh button */
.btn-Second{
    background-color: #006a50;
    font-weight: bold;
    font-size: 16px;
    border-color: none;
    color:#ffffff;
    padding: 12px 26px;
    border-radius: 10px;
    
}

.hero-photo{
    width: 350px;
}
/* visions-containner */
.visions-containner{
    display: flex;
    gap: 50px;
    margin: 10px 200px
}
.vision-of-bd{
padding: 10px;
}

.visions-one{
    padding: 30px;
    background-color: #d5e1f5;
    border-radius: 20px;
}
.visions-two{
    padding: 30px;
    background-color: #c6e4d6;
    border-radius: 20px;
}
.visions-three{
    padding: 30px;
    background-color: #f7ebcf;
    border-radius: 20px;
}
.Learn-more-button-one{
    background-color: #5490f5;
    font-weight: bold;
    font-size: 16px;
    border-color: #c6e4d6;
    color:#ffffff;
    padding: 12px 26px;
    border-radius: 5px;
}
.Learn-more-button-two{
    background-color: #09a15c;
    font-weight: bold;
    font-size: 16px;
    border-color: #c6e4d6;
    color:#ffffff;
    padding: 12px 26px;
    border-radius: 5px;
}
.Learn-more-button-three{
    background-color: #ffc239;
    font-weight: bold;
    font-size: 16px;
    border-color: #c6e4d6;
    color:#ffffff;
    padding: 12px 26px;
    border-radius: 5px;
}
.Recent-News{
    margin: 10px 200px
}
.box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 26px;
    background-color: #d5e1f5;
    border-radius: 20px;
    gap: 50px;
    margin: 10px 200px
}
.button-read-more{
    background-color: #006a50;
    font-weight: bold;
    font-size: 16px;
    border-color: #c6e4d6;
    color:#ffffff;
    padding: 12px 26px;
    border-radius: 10px;
}
.mild-cold-img{
    border-radius: 15px;
}
.bgb-stops-bsf{
    border-radius: 15px;
}

.box2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 26px;
    background-color: #d5e1f5;
    border-radius: 20px;
    gap: 50px;
    margin: 10px 200px
}
.box3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 26px;
    background-color: #d5e1f5;
    border-radius: 20px;
    gap: 50px;
    margin: 10px 200px
}

.donation-section{
    text-align: center;
    margin: 10px 200px

}
.donation-section h1{
    margin-bottom: 10px;
}

.donation-section p {
    margin-bottom: 20px;
    color: #666;
}
.donation-options {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 15px;
}
.donation-button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px #b4e1c5;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s ease;
}
.donation-button:hover {
    background-color: #d9d9d9;
    }

.donation-button.active {
    background-color: #b4e1c5;
    font-weight: bold;
}

.coustom-amount {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    font-size: 16px;
    
}


.submit-button{
    padding: 12px 26px;
    background-color: #006a50;
    color:#ffffff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.submit-button:hover{
    background-color: #1a6f1a;
}